/* CURRENT PORTFOLIO */
body {
  background-color: #FDFDFD !important; }

a {
  color: inherit !important;
  text-decoration: none !important; }

a.navItem:hover, a.navItem:active, a.navItem:focus, a.visited {
  color: inherit !important;
  text-decoration: none !important;
  opacity: 0.7; }

.container-fluid {
  margin: 0px !important;
  padding: 0px !important; }

/* NAVIGATION BAR */
header {
  position: fixed; }

.nav {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: #CA3B35;
  height: 80px;
  position: fixed;
  z-index: -100; }

i.nav-toggle {
  display: none !important; }

#dropNav {
  padding: 0;
  margin: 20px 20px 0px 0px;
  text-align: right; }

ul#navLi {
  margin-top: 18px !important;
  display: inline !important; }

ul#navLi li {
  color: #150415;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 20px 20px 0px 10px;
  font-size: 25px;
  font-family: Quicksand, sans-serif;
  font-weight: lighter;
  -webkit-padding-start: 0 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px; }

.navItem {
  border-radius: 5px; }

ul#navLi li a {
  border: 2px solid #CA3B35; }

#avery {
  display: inline-block;
  align: left;
  position: absolute; }

/* HOME SECTION STYLING */
#home {
  margin-top: 100px;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px; }

.par {
  color: #150415;
  font-size: 20px;
  font-family: Verdana; }

/* SKILLS SECTION STYLING */
#skills {
  background-color: #4D8471;
  padding-top: 50px;
  padding-bottom: 100px; }

#skillsTitle {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  font-family: Quicksand;
  color: #150415; }

.make-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100% !important;
  flex-basis: 1;
  justify-content: center; }

.flexIcon {
  padding: 20px;
  color: #FDFDFD;
  border: 2px solid #4D8471; }

.flexIcon:hover {
  color: #CA3B35; }

.dev {
  font-size: 100px; }

#projects {
  background-color: #314D50;
  color: #FDFDFD;
  font-family: Quicksand;
  padding-bottom: 100px; }

#projects-title {
  margin-top: 0px;
  padding-top: 50px;
  text-align: center; }

.flexImages {
  display: flex;
  transform: translateX(-700%);
  transition: transform 1s ease;
  align-items: center;
  justify-content: center;
  color: white; }

.flexImages.open {
  display: flex;
  transform: translateX(0%); }

.flexImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  flex-basis: 75%;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  top: 20%;
  left: 0%;
  margin-right: 15px;
  margin-left: 15px; }

.flexImage:hover {
  transform: opacity 0.5; }

.flexImage.close {
  display: none; }

.flexImage {
  display: block;
  height: 230px;
  width: 330px;
  margin: 25px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 25px;
  margin-left: 25px;
  height: 230px;
  width: 330px;
  transition: 0.5s ease;
  text-align: center;
  flex-basis: auto;
  background: rgba(255, 255, 255, 0); }

.picContainer {
  position: relative;
  width: 330; }

.overlay:hover {
  background: rgba(0, 0, 0, 0.8); }
  .overlay:hover .text {
    opacity: 1; }

.text {
  opacity: 0;
  color: #FDFDFD;
  font-size: 25px;
  position: absolute;
  vertical-align: middle;
  margin-top: 15%;
  margin-left: 25%;
  transition: opacity 1s ease; }

a.projectLink {
  color: white;
  text-decoration: none; }

a.projectLink:hover, a.projectLink:active, a.projectLink:focus, a.projectLink:visited {
  color: inherit !important;
  outline: none !important;
  text-decoration: none !important; }

@media screen and (max-width: 900px), (max-device-width: 900px) {
  /* NAVIGTION BAR */
  #dropNav {
    transform: translateY(-600px);
    transition: transform 0.5s ease-out;
    background-color: #CA3B35 !important;
    width: 100%;
    padding-right: 20px;
    position: fixed; }

  #dropNav.down {
    transform: translateY(50px); }

  ul#navLi {
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: -100; }

  .nav {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #150415; }

  i.nav-toggle {
    display: inline-block !important;
    color: #150415;
    font-size: 30px !important;
    border: 2px solid #150415;
    padding: 2px 6px 1px 6px;
    border-radius: 4px;
    top: 0;
    right: 0;
    margin: 20px 25px 0px 0px; }

  i.nav-toggle:hover {
    background-color: transparent;
    cursor: pointer; }

  .navWrapper {
    text-align: right; } }

/*# sourceMappingURL=portfolioNew.css.map */
