/* CURRENT PORTFOLIO */

$white: #FDFDFD;
$red: #CA3B35;
$green: #4D8471;
$darkGreen: #314D50;
$brown: #31282B;
$black: #150415;

@mixin background-image($color1, $color2) {
  background-image: $color1; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient($color1, $color2); /* Standard syntax */
}



body {
  background-color: $white !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

a.navItem:hover, a.navItem:active, a.navItem:focus, a.visited{
  color: inherit !important;
  text-decoration: none !important;
  opacity: 0.7;
}
.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
}




/* NAVIGATION BAR */
header {
  position: fixed;
}
.nav {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-image: linear-gradient($red, $red, $red, $red, $red, $red, $red, $red, transparent);
  height: 80px;
  position: fixed;
  z-index: -100;
}
i.nav-toggle {
  display: none !important;
}
#dropNav {
  padding: 0;
  margin: 20px 20px 0px 0px;
  text-align: right;
}
ul#navLi {
  margin-top: 18px !important;
  display: inline !important;
}
ul#navLi li {
  color: $black;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 20px 20px 0px 10px;
  font-size: 25px;
  font-family: Quicksand, sans-serif;
  font-weight: lighter;
  -webkit-padding-start: 0 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
}
.navItem {
  border-radius: 5px;
}
ul#navLi li a {
  border: 2px solid transparent;
}
#avery {
  display: inline-block;
  align: left;
  position: absolute;
}





/* HOME SECTION STYLING */
#home {
  margin-top: 100px;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}
.par {
  color: $black;
  font-size: 20px;
  font-family: Verdana;
}




/* SKILLS SECTION STYLING */
#skills {
  @include background-image($green, $darkGreen);
  padding-top: 50px;
  padding-bottom: 100px;
}
#skillsTitle {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  font-family: Quicksand;
  color: $black;
}
.make-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100% !important;
  flex-basis: 1;
  justify-content: center;
}
.flexIcon {
  padding: 20px;
  color: $white;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: border 2s ease, color 1s ease;;
}
.flexIcon:hover {
  color: $red;
  border: 2px solid $red;
}
.dev {
  font-size: 100px;
}





#projects {
  background-color: $darkGreen;
  color: $white;
  font-family: Quicksand;
  padding-bottom: 100px;
}
#projects-title {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}



.flexImages {
  display: flex;
  transform: translateX(-700%);
  transition: transform 1s ease;
  align-items: center;
  justify-content: center;
  color: white;
}
.flexImages.open {
  display: flex;
  transform: translateX(-0%);
}


.flexImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  flex-basis: 75%;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  top: 20%;
  left: 0%;
  margin-right: 15px;
  margin-left: 15px;
}
.flexImage:hover {
  transform: opacity 0.5;
}
.flexImage.close {
  display: none;
}
.flexImage {
  display: block;
  height: 230px;
  width: 330px;
  margin: 25px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 25px;
  margin-left: 25px;
  height: 230px;
  width: 330px;
  transition: 0.5s ease;
  text-align: center;
  flex-basis: auto;
  background: rgba(255,255,255,0);
}
.picContainer {
  position: relative;
  width: 330;
}
.overlay:hover {
  background: rgba(0, 0, 0, .8);
  .text {
    opacity: 1;
  }
}
.text {
  opacity: 0;
  color: $white;
  font-size: 25px;
  position: absolute;
  vertical-align: middle;
  margin-top: 15%;
  margin-left: 25%;
  transition: opacity 1s ease;
}
a.projectLink {
  color: white;
  text-decoration: none;
}
a.projectLink:hover, a.projectLink:active, a.projectLink:focus, a.projectLink:visited {
  color: inherit !important;
  outline: none !important;
  text-decoration: none !important;
}

@media screen and (min-width:1400px), (min-device-width:1400px) {
  div.nav { padding-left: 15%; }
  #dropNav {padding-right: 15%; }
}


@media screen and (max-width:900px), (max-device-width:900px) {

  /* NAVIGTION BAR */
  #dropNav {
    transform: translateY(-600px);
    transition: transform 0.5s ease-out;
    background-color: $red !important;
    width: 100%;
    padding-right: 20px;
    position: fixed;
  }
  #dropNav.down {
    transform: translateY(50px);
  }
  ul#navLi {
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: -100;
  }
  .nav {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid $black;
    background-color: $red;
  }
  i.nav-toggle {
    display: inline-block !important;
    color: $black;
    font-size: 30px !important;
    border: 2px solid $black;
    padding: 2px 6px 1px 6px;
    border-radius: 4px;
    top: 0;
    right: 0;
    margin: 20px 25px 0px 0px;
  }
  i.nav-toggle:hover {
    background-color: transparent;
    cursor: pointer;
  }
  .navWrapper {
    text-align: right;
  }
}
@media screen and (max-width:600px), (max-device-width:600px) {
}
@media screen and (max-width:320px), (max-device-width:320px) {
}
